<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

	<bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource">
		<property name="driverClassName" value="org.hsqldb.jdbcDriver" />
		<property name="url" value="jdbc:hsqldb:hsql://localhost/cpsc476" />
		<property name="username" value="SA" />
		<property name="password" value="Passw0rd" />
		<property name="initialSize" value="15" />
		<property name="maxActive" value="50" />
		<property name="maxIdle" value="15" />
		<property name="minIdle" value="15" />
		<property name="maxWait" value="50" />
	</bean>

	
	<!-- BlogAction implements BlogActionDAO -->
	<bean id="BlogActionDAO" class="com.blog.primaryservices.BlogAction" scope="singleton" lazy-init="true">
		<property name="jdbcTemplate" ref="jdbcTemplate" />
	</bean>

	<bean id="LoginActionDAO" class="com.blog.primaryservices.LoginAction" scope="singleton" lazy-init="true">
		<property name="jdbcTemplate" ref="jdbcTemplate" />
	</bean>

	<bean id="SignOutActionDAO" class="com.blog.primaryservices.SignOutAction" scope="singleton" lazy-init="true">
		<property name="jdbcTemplate" ref="jdbcTemplate" />
	</bean>
	
	<bean id="SignUpActionDAO" class="com.blog.primaryservices.SignUpAction" scope="singleton" lazy-init="true">
		<property name="jdbcTemplate" ref="jdbcTemplate" />
	</bean>
	
	<bean id="DataBase" class="com.blog.secondaryservices.DataBase" scope="singleton" lazy-init="true" autowire="constructor">
	<!--   <constructor-arg>
        <ref bean="jdbcTemplate" />
    </constructor-arg> -->
	</bean>
</beans>
